{
  "development": {
    "username": "your_development_username",
    "password": "your_development_password",
    "database": "your_development_database",
    "host": "your_development_host",
    "dialect": "postgres"
  },
  "test": {
    "username": "your_test_username",
    "password": "your_test_password",
    "database": "your_test_database",
    "host": "your_test_host",
    "dialect": "postgres"
  },
  "production": {
    "username": "your_production_username",
    "password": "your_production_password",
    "database": "your_production_database",
    "host": "your_production_host",
    "dialect": "postgres"
  }
}