/* Formulaire login */
.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  background-color: var(--color-white); /* Formulaire sur fond blanc */
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 4px 20px var(--color-primary);
}

.form-container label {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  color: var(--color-text); /* Couleur de texte similaire à la page d'accueil */
}

.form-container input {
  padding: 10px;
  margin-top: 5px;
  border: none;
  background-color: var(--color-inputs); /* inputs (plus doux) */
  font-size: 16px;
}

/* Formulaire d'inscription */
.register-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 700px;
  margin: 0 auto;
  background-color: var(--color-white);
  padding: 35px;
  border-radius: 40px;
  box-shadow: 0 4px 20px var(--color-primary);
}

.container-raw {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Style pour les sections du formulaire */
.form-section {
  display: flex;
  margin-bottom: 20px;
}

.form-group {
  width: 35%;
  margin-bottom: px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px; /* Champs plus arrondis */
  border: 1px solid var(--color-border);
}

.password-container {
  position: relative;
}

.eye-iconOpen, .eye-iconClose {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.submit-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  cursor: pointer;
}
