/* Style */

:root {
  /* Colors */
  --color-background: #FFFFFF;
  --color-secondary-fox: #e3680c;
  --color-primary: #00C2BA;
  --color-white: #FFFFFF;
  --color-text: #000;
  --color-heading: #333;
  --color-border: #e0e0e0;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-error: #ff0000;
  --color-success: #00C2BA;
  --color-warning: #FFA500;
  --color-info: #00C2BA;
  --color-inputs: #E9E9E9;
  --color-other: #028181;

  /* Fonts */
  --font-family-body: 'Arial', 'Calibri', sans-serif;
}

  /* Reset général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /* buttons */
  .btn-cta {
    background-color: var(--color-text);
    color: var(--color-white);
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 15px;
  }

  .btn-cta:hover {
    background-color: var(--color-secondary-fox);
  }

  /* Link */
.link {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: var(--color-secondary-fox);
}

.logo-home {
  width: 150px;
}

body {
  font-family: var(--font-family-body);
  background-color: var(--color-background);
  color: var(--color-text);
  text-align: center;
  background-image: url('../assets/Fox-portrait_complet.png'); /* Chemin vers votre image */
  background-size: auto; /* Taille de l'image */
  background-repeat: no-repeat; /* Empêcher la répétition de l'image */
  background-position: left 70%; /* Ajuster la position de l'image */
}

  /* Message d'erreur */
.error-message {
  color: var(--color-error);
  margin-bottom: 20px;
  font-size: 14px
}
