/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between; /* Titre à gauche, bouton à droite */
  align-items: center;
  padding: 10px 20px;
  margin: 0 0 50px 0;
  background-color: var(--color-text); /* Fond blanc (optionnel) */
}

/* Conteneur pour les titres Fox Academy */
.header-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-title h1 {
  font-size: 24px; /* Taille de la police pour le titre */
  color: var(--color-white); /* Couleur du texte */
  margin: 0; /* Supprimer les marges par défaut */
}

.header-buttons {
  padding: 10px 20px;
  display: flex;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-text); /* Même couleur que sur la page d'accueil */
}

.top-nav {
  display: flex;
  align-items: center;
}

.menu-buttons {
  text-decoration: none;
  color: var(--color-white);
  font-size: 18px;
  margin-right: 20px;
  padding: 8px 15px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.menu-buttons:hover {
  background-color: var(--color-secondary);
}

.menu-button {
  padding: 10px 20px;
  background-color: var(--color-text);
  color: var(--color-white);
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: var(--color-secondary-fox);
}

.header-buttons .btn-cta {
  background-color: var(--color-text);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-buttons .btn-cta:hover {
  background-color: var(--color-secondary-fox);
}

@keyframes vibration {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.menu-button:hover, .header-buttons .btn-cta:hover {
  animation: vibration 0.3s ease-in-out;
}

/* Media Queries pour les écrans de moins de 768px */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-nav {
    flex-direction: column;
    width: 100%;
  }

  .menu-buttons, .menu-button, .btn-cta {
    width: 100%;
    margin: 5px 0;
    text-align: center;
  }
}
