/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between; /* Titre à gauche, bouton à droite */
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-primary); /* Fond blanc (optionnel) */
}

/* Conteneur pour les titres Fox et Academy */
.header-title {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Style pour le titre "Fox" */
.title-fox {
  color: var(--color-secondary-fox);
  font-size: 46px;
  margin-right: 10px;
}

/* Style pour le titre "Academy" */
.title-academy {
  color: var(--color-text);
  font-size: 46px;
}

/* Header */

.header-buttons .btn-signup {
  padding: 10px 20px;
  margin: 0 auto; /* Centrage des boutons */
  display: flex;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-text); /* Même couleur que sur la page d'accueil */
}

.btn-login {
  background-color: var(--color-secondary-fox); /* Même couleur que sur la page d'accueil */
  color: var(--color-primary); /* Même style que sur la page d'accueil */
}


/* Formulaire login */
.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  background-color: var(--color-primary); /* Formulaire sur fond blanc */
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 4px 20px var(--color-primary);
}

.login-form label {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  color: var(--color-text); /* Couleur de texte similaire à la page d'accueil */
}

.login-form input {
  padding: 10px;
  margin-top: 5px;
  border: none;
  background-color: var(--color-inputs); /* inputs (plus doux) */
  border-radius: 5px;
  font-size: 16px;
}
