
/* Header */

.header-buttons .btn-signup {
  padding: 10px 20px;
  margin: 0 auto; /* Centrage des boutons */
  display: flex;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-secondary-fox); /* Même couleur que sur la page d'accueil */
}

.btn-login {
  background-color: var(--color-secondary-fox); /* Même couleur que sur la page d'accueil */
  color: var(--color-primary); /* Même style que sur la page d'accueil */
}

/* Logo */
.logo-container {
  margin: 50px auto;
}

.logo {
  max-width: 150px; /* Taille similaire que la page d'accueil */
  border-radius: 50%; /* Logo en cercle pour l'homogénéité */
}

/* Formulaire login */
.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  background-color: var(--color-primary); /* Formulaire sur fond blanc */
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 4px 20px var(--color-primary);
}

.login-form label {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  color: var(--color-text); /* Couleur de texte similaire à la page d'accueil */
}

.login-form input {
  padding: 10px;
  margin-top: 5px;
  border: none;
  background-color: var(--color-inputs); /* inputs (plus doux) */
  border-radius: 5px;
  font-size: 16px;
}

.btn-submit {
  background-color: var(--color-secondary-fox); /* Couleur similaire à la page d'accueil */
  color: var(--color-white);
  border: none;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.btn-submit:hover {
  background-color: var(--color-secondary-fox); /* Effet similaire à la page d'accueil (hover) */
}
