
/* Header */
header {
  display: flex;
  justify-content: flex-end;
  background-color: #00C2BA; /* Même couleur de header que sur la page d'accueil */
  padding: 10px 20px;
}

.header-buttons .btn-login,
.header-buttons .btn-signup {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-login {
  background-color: white;
  color: #00C2BA;
}

.btn-signup {
  background-color: #FE5617;
  color: white;
}

/* Logo */
.logo-container {
  margin: 50px auto;
}

.logo {
  max-width: 150px;
  border-radius: 50%; /* Logo en cercle comme sur la page de login */
}

/* Formulaire d'inscription */
.register-form {
  display: flex;
  flex-direction: column;
  width: 320px; /* Léger agrandissement pour inclure plus de champs */
  margin: 0 auto;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.register-form label {
  margin-top: 15px;
  font-size: 18px;
  text-align: left;
  color: #333;
}

.register-form input,
.register-form select {
  padding: 10px;
  margin-top: 5px;
  border: none;
  background-color: #E9E9E9;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.register-form select {
  cursor: pointer;
}

/* Espacement spécifique pour le champ de mot de passe */
.register-form input[type="password"],
.register-form input[type="date"] {
  margin-bottom: 10px;
}

/* Style pour le bouton "Ajouter une nouvelle classe" */
#addClassBtn {
  background-color: #00C2BA;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

#addClassBtn:hover {
  background-color: #009A95; /* Couleur plus sombre au hover */
}

.register-form .btn-submit {
  background-color: #FE5617;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.register-form .btn-submit:hover {
  background-color: #FE5617;
}

/* Message d'erreur */
.errorMessage {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* Footer */
footer {
  background-color: #00C2BA;
  padding: 10px 0;
}

.slogan {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
